<div class="container">
  <h1>
    Welcome to TTP Stocks
  </h1>

  <p>This is an application where you can buy stock. This was made for the Tech Talent Pipeline assessment project. You can sign in through the email link if you want to try out this super cool application.</p>


</div>
